body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #9bbced;
    overflow-x: auto;
}

#wrapper {
    margin-top: 80px;
    margin-right: 30px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    border-radius: 8px;
    transition: margin-left 0.6s ease-in-out;
}

#page-wrapper { 
    flex-grow: 1; 
    padding: 30px; 
    background-color: #f8f9fa; 
}

.section {
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2.section-title {
    margin-bottom: 20px;
}

.m-2 {
    margin: 8px;
}
